.valContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.buttonAndTextContainer {
}

img {
  padding: 0px 0px 1em 0px;
  /* position: absolute; */
}

button {
  padding: 10px 20px;
  font-size: 1em;
}

.text {
  display: flex;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

button {
  color: white;
  border-radius: 15px;
  margin: 5px;
}

.yesButton {
  background-color: rgb(108, 189, 108);
}

.yesButton:hover {
  background-color: rgb(100, 173, 100);
}

.noButton {
  background-color: rgb(255, 93, 93);
}

.noButton:hover {
  background-color: rgb(220, 81, 81);
}
